body {
  margin: 0;
  background: #faf7f2;
  font-family: Arial, sans-serif;
  color: #444;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}


h1 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
}


.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 40px;
}


.letter-box,
.messages {
  background: white;
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
}


h2 {
  font-size: 20px;
  margin-bottom: 20px;
}


label {
  display: block;
  margin-top: 15px;
  margin-bottom: 8px;
}


input,
textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  font-size: 15px;
}


textarea {
  height: 130px;
  resize: none;
}


button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 20px;
  background: #444;
  color: white;
  font-size: 15px;
}


.message-card {
  background: #faf7f2;
  padding: 18px;
  border-radius: 15px;
  margin-bottom: 15px;
}


.message-card strong {
  font-size: 15px;
}


.message-card p {
  margin: 15px 0;
  line-height: 1.5;
}


.message-card small {
  color: #999;
}
