body {
  background: #faf5ef;
  color: #4b4038;
  font-family: "Georgia", serif;
  margin: 0;
  padding: 0;
}


.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}


h1 {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 10px;
}


.subtitle {
  color: #9b8878;
  font-size: 15px;
  margin-bottom: 45px;
}


.letter-box {
  background: #fffdf9;
  padding: 35px 25px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(120, 90, 60, 0.08);
}


h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}


label {
  display: block;
  width: 85%;
  margin: 0 auto 8px;
  text-align: left;
  color: #9b8878;
  font-size: 13px;
}


input,
textarea {
  display: block;
  width: 85%;
  margin: 0 auto 20px;
  padding: 15px;
  border: 1px solid #eadfd3;
  border-radius: 12px;
  background: #fffaf5;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
}


input {
  height: 50px;
}


textarea {
  height: 120px;
  resize: none;
}


button {
  margin-top: 5px;
  padding: 13px 35px;
  border: none;
  border-radius: 30px;
  background: #c9a07a;
  color: white;
  font-size: 14px;
}


.messages {
  margin-top: 50px;
}


.message-card {
  background: #fffdf9;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(120, 90, 60, 0.06);
}


.message-card p {
  color: #7c6b5d;
}


.message-card small {
  display: block;
  margin-top: 15px;
  color: #b7a392;
  font-size: 12px;
  text-align: right;
}

.message-card strong {
  font-size: 16px;
  font-weight: 500;
  color: #6b5545;
}


.message-card hr {
  border: none;
  border-top: 1px solid #eadfd3;
  margin: 18px 0 12px;
}


.message-card small {
  font-style: italic;
  letter-spacing: 1px;
}
